<div class="productCard">
    <div class="productCardFlag">
        <span>Mais vendido</span>
    </div>
    <div class="productCardImage">
        <img src="/image/bag-orange.webp" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag hide">
        <span></span>
    </div>
    <div class="productCardImage">
        <img src="/image/11s.avif" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag hide">
        <span></span>
    </div>
    <div class="productCardImage">
        <img src="/image/12s.webp" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag">
        <span>Mais vendido</span>
    </div>
    <div class="productCardImage">
        <img src="/image/95.webp" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<!-- Second line -->
<div class="productCard">
    <div class="productCardFlag hide">
        <span></span>
    </div>
    <div class="productCardImage">
        <img src="/image/97.webp" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag">
        <span>Promoção</span>
    </div>
    <div class="productCardImage">
        <img src="/image/270.avif" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <div class="productPrice">
            <span>R$ 15,00</span>
            <span>R$ 14,25</span>
        </div>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag hide">
        <span></span>
    </div>
    <div class="productCardImage">
        <img src="/image/dunkazul.jpg" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag hide">
        <span></span>
    </div>
    <div class="productCardImage">
        <img src="/image/excee.webp" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<!-- Third line -->
<div class="productCard">
    <div class="productCardFlag hide">
        <span></span>
    </div>
    <div class="productCardImage">
        <img src="/image/ls.png" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag">
        <span>Mais vendido</span>
    </div>
    <div class="productCardImage">
        <img src="/image/r4.jpeg" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag">
        <span>Mais vendido</span>
    </div>
    <div class="productCardImage">
        <img src="/image/tnazul.webp" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>

<div class="productCard">
    <div class="productCardFlag hide">
        <span></span>
    </div>
    <div class="productCardImage">
        <img src="/image/tnazul3.webp" alt="Product One" />
    </div>
    <div class="productInfo">
        <h2>Sou um produto</h2>
        <hr />
        <span>R$ 15,00</span>
    </div>
</div>